body{
    margin: 0 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f1f5f8;
}

h4{
    color: rgb(34, 166, 210);
    font-size: large;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    padding: 0 12%;
    height: 45px;
}

.links{
    font-weight: bold;
    display: flex;
    list-style-type: none;
    gap: 30%;
}

li a{
    text-decoration: none;
}

a:hover{
    color:  rgb(34, 166, 210);
}

.container{
    margin: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #f1f5f8;
    padding: 10px 80px;
    border-radius: 5px;
}

.color{
    color: rgb(34, 166, 210);
    text-transform: capitalize;
}

.container button{
    padding: 6px 12px;
    border-radius: 5px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    /* box-shadow: 2px 2px  white; */
}

.container button:hover{
    background: black;
    color: white;
    transition: background 0.4s;

}
.container button:active{
    transform: scale(0.95); /*For reducing the size of the button while clicking*/
}